# The notebook is aimed to check different dataframe operations via pandas library which could be helpful for day to day analysis of different datasets.

In [11]:
import  pandas as pd
from IPython.core.interactiveshell import InteractiveShell
from pathlib import Path

### Pandas version

In [2]:
pd.__version__

'2.2.2'

Set pandas options

In [12]:
pd.set_option('display.max_columns',500)
InteractiveShell.ast_node_interactivity = "all"

Set line separator

In [20]:
def separate_line(text:str=""):
    print(f"\n{'-'*37}\n{text}")

Set data path

In [8]:
data_path=Path.cwd().parent/"data"

### Read data from csv file

In [9]:
gemstone_df=pd.read_csv(f'{data_path}/gemstone.csv')
gemstone_df.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

Basic dataframe options to get an overview of the data available

In [ ]:
separate_line("Check number of rows and columns of the dataframe")
gemstone_df.shape
separate_line("Get 1st 10 rows of the dataframe")
gemstone_df.head(10)
separate_line("Get last 2 rows of the dataframe")
gemstone_df.tail(2)
separate_line("Get columns")
gemstone_df.columns
separate_line("Get random sample")
gemstone_df.sample()
separate_line("Get sample in terms of percentage and get the same result each time")
gemstone_df.sample(frac=0.1,random_state=200)
separate_line("Get the index of the dataframe")
gemstone_df.index
separate_line("Get the length of the dataframe")
len(gemstone_df)